project:
  type: book
  output-dir: docs
  
book:
  title: "HerbVar Project Manual & Field Protocols"
  output-file: "herbvar-manual"
  author: "The Herbvar Steering Committee"
  date: 11/15/2024
  # date: last-modified
  # original-date: 11/15/2024
  # doi
  url: https://herbvar-network.github.io/herbvar_manual
  pdf-url: https://herbvar-network.github.io/herbvar_manual/herbvar-manual.pdf 
  date-format: long
  license: "This work is licensed under CC BY-NC-SA 4.0. //To view a copy of this license, visit https://creativecommons.org/licenses/by-nc-sa/4.0/"
  edition: "1st Ed."
  cover-image: images/cover2.png
  search: true
  repo-url: https://github.com/HerbVar-Network/herbvar_manual
  repo-actions: [edit]
  downloads: [pdf, epub]
  # sharing: [twitter, facebook]
  reader-mode: false
  favicon: images/cover.png
  page-footer:
    left: |
      HerbVar Project Manual & Field Protocols
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.
  
  chapters:
    - index.qmd
    
    - part: "What is HerbVar?"
      chapters: 
        - introduction/intro.qmd
        # - introduction/getting_involved.qmd
        - introduction/Network_Structure.qmd
        - introduction/data_overview.qmd
        - introduction/herbvar_products.qmd
        
    - part: "Become a Collaborator"
      chapters: 
        - collaboration/site_pi.qmd
        - collaboration/data_use_guidelines.qmd
        # - collaboration/new_analyses.qmd
        - collaboration/authorship_process.qmd
        - collaboration/new_data_collection.qmd
        # - collaboration/project_review.qmd
        
    - part: "HerbVar Workflow" 
      chapters:
        - workflow/workflow.qmd
        # - workflow/upload_data.qmd
        - workflow/data_analysis.qmd
        - workflow/publications.qmd
    
    - part: "HerbVar Protocols"
      chapters: 
        - protocols/protocols_overview.qmd
        # - protocols/spp_site_selection.qmd
        - protocols/primary.qmd
        - protocols/damage.qmd
        - protocols/repro_damage.qmd
        - protocols/low_density.qmd
        - protocols/succulents.qmd
        - protocols/tree.qmd
        - protocols/rhizo_geo.qmd
        - protocols/herbivore.qmd    
    
    - references.qmd
    
    - part: "Appendix 1: Forms & Checklists"
      chapters: 
        - forms/onboarding_checklist.qmd
        # - forms/data_sharing_contract.qmd
        - forms/forms_list.qmd
        
    - part: "Appendix 2: HerbVar Admin"
      chapters: 
        - admin/potential_collaborators.qmd
        - admin/manual.qmd
        - admin/website.qmd
        - admin/data_portal.qmd
        - admin/google_drive.qmd
        - admin/wrangling_repo.qmd
    
bibliography: HerbVar.bib
csl: format/ecology.csl
format:

  html:
    theme: 
      - cosmo
      - format/r4ds.scss
      
  pdf:
    documentclass: scrbook
    classoption: ["oneside", "open=any"]
    cover-image: images/cover2.png
    # template-partials:
    #    - "format/title.tex"
    header-includes: |
      \titlehead{\includegraphics[height=9in]{images/cover2.png}}
      \publishers{1st Ed.\\This material is based upon work supported by the National Science Foundation under Award No. NSF DEB-2203582.\\licensed under CC BY-NC-SA 4.0.}
      \usepackage[compact]{titlesec}  
    toc: true
    toc-depth: 2
    toc-title: Table of Contents
    lof: true
    lot: true
    bibliography: HerbVar.bib
    # Numbering
    number-sections: true
    # Fonts
    # fontfamily: libertinus
    # mainfont: Georgia
    # sansfont: Verdana
    # monofont: Source Code Pro
    # fontsize: 12pt
    microtypeoptions: ["final"]
    # Colors
    colorlinks: true
    # Layout
    geometry:
      - margin=1in
      - bindingoffset=0.5in
      # - left=24mm
      # - top=24mm
      # - bottom=24mm 
      # - right=50mm
      # - heightrounded
      # - footskip=0.475in
      # - showframe
    # pagestyle: plain
    # Rendering
    keep-tex: true
    # https://quarto.org/docs/journals/templates.html#template-partials
    # https://github.com/quarto-dev/quarto-cli/discussions/1941
    # https://tex.stackexchange.com/questions/209993/how-to-customize-my-titlepage/210280#210280
    # https://github.com/nmfs-opensci/quarto_titlepages_v1
    # https://nmfs-opensci.github.io/quarto_titlepages_v1/03-how-to-use.html
    # https://tex.stackexchange.com/questions/209993/how-to-customize-my-titlepage/210280#210280
    # https://nrennie.rbind.io/blog/pdf-quarto/making-pretty-pdf-quarto/
    # https://github.com/nrennie/PrettyPDF

    
    # include-in-header: 
    #  - "format/PrettyPDF.tex"
    # include-before-body:
    #  - "format/pagestyle.tex
    #   - "format/_titlepage.tex" 
  
      
  epub:
      epub-cover-image: images/cover2.png

# pdf-engine: xelatex
# see fpr engine-opt: https://stackoverflow.com/questions/74261557/quarto-rendering-pdf-running-xelatex-faster-in-rstudio    
editor: source

execute:
  freeze: auto