logo_figs.pptx
Mangrove - lopsided damage.png
Mangrove - spotty damage (1).png
Mangrove - spotty damage.png
Mangrove - tip damage.png
Mangrove - undamaged.png
Mangrove - very damaged.png
Tetraopes.png
monarch on leaf chewing damage.png
